{% extends 'crm_app/base.html' %}
<br />
{% block content %}
<div class="container">
  <div class="about">
    <div class="about__image">
      <img
        src="../../static/crm_app/images/manual/slide01.png"
        alt="Manual slide#1"
      />
    </div>
    <div class="about__image">
      <img
        src="../../static/crm_app/images/manual/slide02.png"
        alt="Manual slide#2"
      />
    </div>
    <div class="about__image">
      <img
        src="../../static/crm_app/images/manual/slide03.png"
        alt="Manual slide#3"
      />
    </div>
    <div class="about__image">
      <img
        src="../../static/crm_app/images/manual/slide04.png"
        alt="Manual slide#4"
      />
    </div>
    <div class="about__image">
      <img
        src="../../static/crm_app/images/manual/slide05.png"
        alt="Manual slide#5"
      />
    </div>
    <div class="about__image">
      <img
        src="../../static/crm_app/images/manual/slide06.png"
        alt="Manual slide#6"
      />
    </div>
    <div class="about__image">
      <img
        src="../../static/crm_app/images/manual/slide07.png"
        alt="Manual slide#7"
      />
    </div>
    <div class="about__image">
      <img
        src="../../static/crm_app/images/manual/slide08.png"
        alt="Manual slide#8"
      />
    </div>
    <div class="about__image">
      <img
        src="../../static/crm_app/images/manual/slide09.png"
        alt="Manual slide#9"
      />
    </div>
    <div class="about__image">
      <img
        src="../../static/crm_app/images/manual/slide10.png"
        alt="Manual slide#10"
      />
    </div>
    <div class="about__image">
      <img
        src="../../static/crm_app/images/manual/slide11.png"
        alt="Manual slide#11"
      />
    </div>
    <div class="about__image">
      <img
        src="../../static/crm_app/images/manual/slide12.png"
        alt="Manual slide#12"
      />
    </div>
    <div class="about__image">
      <img
        src="../../static/crm_app/images/manual/slide13.png"
        alt="Manual slide#13"
      />
    </div>
    <div class="about__image">
      <img
        src="../../static/crm_app/images/manual/slide14.png"
        alt="Manual slide#14"
      />
    </div>
    <div class="about__image">
      <img
        src="../../static/crm_app/images/manual/slide15.png"
        alt="Manual slide#15"
      />
    </div>
    <div class="about__image">
      <img
        src="../../static/crm_app/images/manual/slide16.png"
        alt="Manual slide#16"
      />
    </div>
    <br><br><br>
    <div class="directory-head__title">Реализация ролей пользователей и их прав в API</в>
    <div class="about__image">
      <img
        src="../../static/crm_app/images/manual/slide17.png"
        alt="Manual slide#17"
      />
    </div>
    <div class="about__image">
      <img
        src="../../static/crm_app/images/manual/slide18.png"
        alt="Manual slide#18"
      />
    </div>
    <div class="about__image">
      <img
        src="../../static/crm_app/images/manual/slide19.png"
        alt="Manual slide#19"
      />
    </div>
    <div class="about__image">
      <img
        src="../../static/crm_app/images/manual/slide20.png"
        alt="Manual slide#20"
      />
    </div>
    <div class="about__image">
      <img
        src="../../static/crm_app/images/manual/slide21.png"
        alt="Manual slide#21"
      />
    </div>
    <div class="about__image">
      <img
        src="../../static/crm_app/images/manual/slide22.png"
        alt="Manual slide#22"
      />
    </div>
    <div class="about__image">
      <img
        src="../../static/crm_app/images/manual/slide23.png"
        alt="Manual slide#23"
      />
    </div>
  </div>
</div>

{% endblock content %}
