{% extends 'crm_app/base.html' %}
<br />
{% block content %}

<div class="container">
  <div class="refbook">
    <div class="refbook__image">
      <img
        src="../../static/crm_app/images/icons-refbook/Refbooks.png"
        alt="icon of reference books"
      />
    </div>
    <div class="refbook__title">{{ title }}</div>
  </div>

  <!-- ============================== Accordion ============================== -->

  <ul class="refbook__acc">
    <li class="refbook__acc-item">
      <a class="refbook__acc-link" href="#">
        <div class="refbook__acc-head">
          <span>Справочник 1.</span>
          <p class="refbook__icon-machine">Модели машин</p>
        </div>
        <div class="refbook__acc-text" style="display: none">
          <table class="directories">
            <thead>
              <tr class="directories__row">
                {% for d in directories %}
                <th class="directories__head">{{d}}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for object in modelMachine %}
              <tr class="directories__row">
                <td class="directories__col">
                  <a
                    class="link_to_object tooltip"
                    href="{% url 'directory_model_machine' object.pk %}"
                  >
                    {{object.name}}
                    <span class="tooltiptext"
                      >Открыть эту запись в отдельной вкладке или окне - ПРАВЫЙ
                      КЛИК МЫШИ</span
                    ></a
                  >
                </td>

                {% autoescape off %}
                <td class="directories__col">
                  {{object.description|linebreaks}}
                </td>
                {% endautoescape %}
              </tr>
              {% empty %}
              <div class="message">Список пуст</div>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </a>
    </li>
    <li class="refbook__acc-item">
      <a class="refbook__acc-link" href="#">
        <div class="refbook__acc-head">
          <span>Справочник 2.</span>
          <p class="refbook__icon-engine">Модели двигателей</p>
        </div>
        <div class="refbook__acc-text" style="display: none">
          <table class="directories">
            <thead>
              <tr class="directories__row">
                {% for d in directories %}
                <th class="directories__head">{{d}}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for object in modelEngine %}
              <tr class="directories__row">
                <td class="directories__col">
                  <a
                    class="link_to_object tooltip"
                    href="{% url 'directory_model_engine' object.pk %}"
                  >
                    {{object.name}}
                    <span class="tooltiptext"
                      >Открыть эту запись в отдельной вкладке или окне - ПРАВЫЙ
                      КЛИК МЫШИ</span
                    ></a
                  >
                </td>
                {% autoescape off %}
                <td class="directories__col">
                  {{object.description|linebreaks}}
                </td>
                {% endautoescape %}
              </tr>
              {% empty %}
              <div class="message">Список пуст</div>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </a>
    </li>
    <li class="refbook__acc-item">
      <a class="refbook__acc-link" href="#">
        <div class="refbook__acc-head">
          <span>Справочник 3.</span>
          <p class="refbook__icon-transmission">Модели трансмиссий</p>
        </div>
        <div class="refbook__acc-text" style="display: none">
          <table class="directories">
            <thead>
              <tr class="directories__row">
                {% for d in directories %}
                <th class="directories__head">{{d}}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for object in modelTransmission %}
              <tr class="directories__row">
                <td class="directories__col">
                  <a
                    class="link_to_object tooltip"
                    href="{% url 'directory_model_transmission' object.pk %}"
                  >
                    {{object.name}}
                    <span class="tooltiptext"
                      >Открыть эту запись в отдельной вкладке или окне - ПРАВЫЙ
                      КЛИК МЫШИ</span
                    ></a
                  >
                </td>
                {% autoescape off %}
                <td class="directories__col">
                  {{object.description|linebreaks}}
                </td>
                {% endautoescape %}
              </tr>
              {% empty %}
              <div class="message">Список пуст</div>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </a>
    </li>
    <li class="refbook__acc-item">
      <a class="refbook__acc-link" href="#">
        <div class="refbook__acc-head">
          <span>Справочник 4.</span>
          <p class="refbook__icon-drive_axle">Модели ведущих мостов</p>
        </div>
        <div class="refbook__acc-text" style="display: none">
          <table class="directories">
            <thead>
              <tr class="directories__row">
                {% for d in directories %}
                <th class="directories__head">{{d}}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for object in modelDriveAxle %}
              <tr class="directories__row">
                <td class="directories__col">
                  <a
                    class="link_to_object tooltip"
                    href="{% url 'directory_model_drive_axle' object.pk %}"
                  >
                    {{object.name}}
                    <span class="tooltiptext"
                      >Открыть эту запись в отдельной вкладке или окне - ПРАВЫЙ
                      КЛИК МЫШИ</span
                    ></a
                  >
                </td>
                {% autoescape off %}
                <td class="directories__col">
                  {{object.description|linebreaks}}
                </td>
                {% endautoescape %}
              </tr>
              {% empty %}
              <div class="message">Список пуст</div>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </a>
    </li>
    <li class="refbook__acc-item">
      <a class="refbook__acc-link" href="#">
        <div class="refbook__acc-head">
          <span>Справочник 5.</span>
          <p class="refbook__icon-steering_axle">Модели управляемых мостов</p>
        </div>
        <div class="refbook__acc-text" style="display: none">
          <table class="directories">
            <thead>
              <tr class="directories__row">
                {% for d in directories %}
                <th class="directories__head">{{d}}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for object in modelSteeringAxle %}
              <tr class="directories__row">
                <td class="directories__col">
                  <a
                    class="link_to_object tooltip"
                    href="{% url 'directory_model_steering_axle' object.pk %}"
                  >
                    {{object.name}}
                    <span class="tooltiptext"
                      >Открыть эту запись в отдельной вкладке или окне - ПРАВЫЙ
                      КЛИК МЫШИ</span
                    ></a
                  >
                </td>
                {% autoescape off %}
                <td class="directories__col">
                  {{object.description|linebreaks}}
                </td>
                {% endautoescape %}
              </tr>
              {% empty %}
              <div class="message">Список пуст</div>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </a>
    </li>
    <li class="refbook__acc-item">
      <a class="refbook__acc-link" href="#">
        <div class="refbook__acc-head">
          <span>Справочник 6.</span>
          <p class="refbook__icon-maintenanceType">
            Виды Технического Обслуживания
          </p>
        </div>
        <div class="refbook__acc-text" style="display: none">
          <table class="directories">
            <thead>
              <tr class="directories__row">
                {% for d in directories %}
                <th class="directories__head">{{d}}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for object in maintenanceType %}
              <tr class="directories__row">
                <td class="directories__col">
                  <a
                    class="link_to_object tooltip"
                    href="{% url 'directory_maintenance_type' object.pk %}"
                  >
                    {{object.name}}
                    <span class="tooltiptext"
                      >Открыть эту запись в отдельной вкладке или окне - ПРАВЫЙ
                      КЛИК МЫШИ</span
                    ></a
                  >
                </td>
                {% autoescape off %}
                <td class="directories__col">
                  {{object.description|linebreaks}}
                </td>
                {% endautoescape %}
              </tr>
              {% empty %}
              <div class="message">Список пуст</div>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </a>
    </li>
    <li class="refbook__acc-item">
      <a class="refbook__acc-link" href="#">
        <div class="refbook__acc-head">
          <span>Справочник 7.</span>
          <p class="refbook__icon-breakdown">Узлы отказа</p>
        </div>
        <div class="refbook__acc-text" style="display: none">
          <table class="directories">
            <thead>
              <tr class="directories__row">
                {% for d in directories %}
                <th class="directories__head">{{d}}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for object in breakdown %}
              <tr class="directories__row">
                <td class="directories__col">
                  <a
                    class="link_to_object tooltip"
                    href="{% url 'directory_breakdown' object.pk %}"
                  >
                    {{object.name}}
                    <span class="tooltiptext"
                      >Открыть эту запись в отдельной вкладке или окне - ПРАВЫЙ
                      КЛИК МЫШИ</span
                    ></a
                  >
                </td>
                {% autoescape off %}
                <td class="directories__col">
                  {{object.description|linebreaks}}
                </td>
                {% endautoescape %}
              </tr>
              {% empty %}
              <div class="message">Список пуст</div>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </a>
    </li>
    <li class="refbook__acc-item">
      <a class="refbook__acc-link" href="#">
        <div class="refbook__acc-head">
          <span>Справочник 8.</span>
          <p class="refbook__icon-recovery_method">Способы восстановления</p>
        </div>
        <div class="refbook__acc-text" style="display: none">
          <table class="directories">
            <thead>
              <tr class="directories__row">
                {% for d in directories %}
                <th class="directories__head">{{d}}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for object in recoveryMethod %}
              <tr class="directories__row">
                <td class="directories__col">
                  <a
                    class="link_to_object tooltip"
                    href="{% url 'directory_recovery_method' object.pk %}"
                  >
                    {{object.name}}
                    <span class="tooltiptext"
                      >Открыть эту запись в отдельной вкладке или окне - ПРАВЫЙ
                      КЛИК МЫШИ</span
                    ></a
                  >
                </td>
                {% autoescape off %}
                <td class="directories__col">
                  {{object.description|linebreaks}}
                </td>
                {% endautoescape %}
              </tr>
              {% empty %}
              <div class="message">Список пуст</div>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </a>
    </li>
    <li class="refbook__acc-item">
      <a class="refbook__acc-link" href="#">
        <div class="refbook__acc-head">
          <span>Справочник 9.</span>
          <p class="refbook__icon-service_company">Сервисные компании</p>
        </div>
        <div class="refbook__acc-text" style="display: none">
          <table class="directories">
            <thead>
              <tr class="directories__row">
                {% for d in directories %}
                <th class="directories__head">{{d}}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for object in serviceCompany %}
              <tr class="directories__row">
                <td class="directories__col">
                  <a
                    class="link_to_object tooltip"
                    href="{% url 'directory_service_company' object.pk %}"
                  >
                    {{object.name}}
                    <span class="tooltiptext"
                      >Открыть эту запись в отдельной вкладке или окне - ПРАВЫЙ
                      КЛИК МЫШИ</span
                    ></a
                  >
                </td>
                {% autoescape off %}
                <td class="directories__col">
                  {{object.description|linebreaks}}
                </td>
                {% endautoescape %}
              </tr>
              {% empty %}
              <div class="message">Список пуст</div>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </a>
    </li>
  </ul>
</div>
<!-- =================================================================== -->

<div class="navigate-to">
  <span class="empty"></span>
  {% if request.user.is_staff == True %}
  <a href="{% url 'full_db_list' %}" class="btn btn_back_to_list" id="to_model"
    >Перейти в базу данных</a
  >
  {% else %}
  <a
    href="{% url 'page_after_authorization' %}"
    class="btn btn_back_to_list"
    id="to_model"
    >Перейти в базу данных</a
  >
  {% endif %}
</div>

{% endblock content %}
