{% extends 'crm_app/base.html' %}{% block content %}

<div class="container">
  <div class="crud">
    <div class="crud__inner">
      <div class="crud__header header-claim">{{title}}</div>
      <div class="crud__content-delete">
        <form action="" method="post">
          {% csrf_token %}

          <div class="subtitle_in_tabs">
            Удаляем запись о Рекламации с id
            <span>{{ object.id }}</span> ?
            <br />
            машины с Зав. №
            <span>{{ object.machine}}</span> ?
          </div>
          <input type="submit" value="Delete" />
        </form>
      </div>
      <div class="crud__bottom-line"></div>
    </div>
  </div>
</div>

{% endblock content %}
