{% extends 'crm_app/base.html' %} {% block content %}

<h1>{{ title }}</h1>
<h1>title</h1>
<br />

<div class="container">
  <div class="directory">
    <div class="directory__inner">
      <div class="directory__content">
        <div class="directory__set">
          <div class="directory__image">
            <img
              src="../../static/crm_app/images/directories/machine.png"
              alt="icon of the machine"
            />
          </div>
          <div class="directory__name">
            <div class="directory__name-title">Модель техники:</div>
            <div class="directory__name-db">{{model.name}}</div>
          </div>
        </div>
        <div class="directory__description">
          <div class="directory__description-title">Описание:</div>
          <div class="directory__description-db">{{model.description}}</div>
        </div>
      </div>
      <div class="directory__buttons">
        <div class="directory__button btn">Вернуться назад</div>
        <div class="directory__button btn">
          Больше моделей <br />в Справочнике
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
