{% extends 'crm_app/base.html' %}
<br />
{% block content %}
<br /><br /><br />

<div>
  <div class="subtitle_in_tabs">{{title}}</div>

  <div class="tab2__grid-head">
    <div class="tab2__col-head">Машина</div>
    <div class="tab2__col-head">Вид ТО</div>
    <div class="tab2__col-head">Дата проведения ТО</div>
    <div class="tab2__col-head">Наработка, м/час</div>
    <div class="tab2__col-head">№ заказ-наряда</div>
    <div class="tab2__col-head">Дата заказ-наряда</div>
    <div class="tab2__col-head">Орг-ция, проводившая ТО</div>
    <div class="tab2__col-head">Сервисная компания</div>
  </div>
  {% for m in maintenance %}
  <div class="tab2__grid">
    <div class="tab2__col">
      <a href="{% url 'directory_model_machine' m.pk %}">{{m.machine}}</a>
    </div>
    <div class="tab2__col">
      <a href="{% url 'directory_maintenance_type' m.pk %}">{{m.type}}</a>
    </div>
    <div class="tab2__col">{{m.maintenanceDate}}</div>
    <div class="tab2__col">{{m.operatingTime}}</div>
    <div class="tab2__col">{{m.workOrder}}</div>
    <div class="tab2__col">{{m.workOrderDate}}</div>
    <div class="tab2__col">{{m.executor}}</div>
    <div class="tab2__col">
      <a href="{% url 'directory_service_company' m.pk %}"
        >{{m.serviceCompany}}</a
      >
    </div>
  </div>
  {% empty %}
  <div class="message">Список пуст</div>
  {% endfor %}
</div>
{% endblock content %}
