{% extends 'crm_app/base.html' %}
<br />
{% block content %}
<br /><br /><br />

<div class="subtitle_in_tabs">{{title}}</div>

<div class="tab1">
  <table class="tab1__table">
    <tr class="tab1__row">
      <th class="tab1__head">Модель техники</th>
      <th class="tab1__head">Зав. № машины</th>
      <th class="tab1__head">Модель двигателя</th>
      <th class="tab1__head">Зав. № двигателя</th>
      <th class="tab1__head">Модель трансмиссии</th>
      <th class="tab1__head">Зав. № ведущего моста</th>
      <th class="tab1__head">Модель ведущего моста</th>
      <th class="tab1__head">Зав. № ведущего моста</th>
      <th class="tab1__head">Модель управляемого моста</th>
      <th class="tab1__head">Зав. № управляемого моста</th>
      <th class="tab1__head">Договор поставки №, дата</th>
      <th class="tab1__head">Дата отгрузки с завода</th>
      <th class="tab1__head">Грузополучатель (конечный потребитель)</th>
      <th class="tab1__head">Комплектация (дополнительные опции)</th>
      <th class="tab1__head">Адрес поставки (эксплуатации)</th>
      <th class="tab1__head">Клиент</th>
      <th class="tab1__head">Сервисная компания</th>
    </tr>
    {% for machine in machines %}
    <tr class="tab1__row">
      <td class="tab1__col">
        <a href="{% url 'directory_model_machine' machine.pk %}"
          >{{ machine.modelMachine }}</a
        >
      </td>
      <td class="tab1__col">{{machine.serialNumber}}</td>
      <td class="tab1__col">
        <a href="{% url 'directory_model_engine' machine.pk %}"
          >{{machine.modelEngine}}</a
        >
      </td>
      <td class="tab1__col">{{machine.serialNumberEngine}}</td>
      <td class="tab1__col">
        <a href="{% url 'directory_model_transmission' machine.pk %}"
          >{{machine.modelTransmission}}</a
        >
      </td>
      <td class="tab1__col">{{machine.serialTransmission}}</td>
      <td class="tab1__col">
        <a href="{% url 'directory_model_drive_axle' machine.pk %}"
          >{{machine.modelDriveAxle}}</a
        >
      </td>
      <td class="tab1__col">{{machine.serialDriveAxle}}</td>
      <td class="tab1__col">
        <a href="{% url 'directory_model_steering_axle' machine.pk %}"
          >{{machine.modelSteeringAxle}}</a
        >
      </td>
      <td class="tab1__col">{{machine.serialSteeringAxle}}</td>
      <td class="tab1__col">{{machine.deliveryContract}}</td>
      <td class="tab1__col">{{machine.shipmentDate}}</td>
      <td class="tab1__col">{{machine.consignee}}</td>
      <td class="tab1__col">{{machine.deliveryAddress}}</td>
      <td class="tab1__col">{{machine.additionalOptions}}</td>
      <td class="tab1__col">{{machine.client}}</td>
      <td class="tab1__col">
        <a href="{% url 'directory_service_company' machine.pk %}"
          >{{machine.serviceCompany}}</a
        >
      </td>
    </tr>
    {% empty %}
    <div class="message">Список пуст</div>
    {% endfor %}
  </table>
</div>
</div>


{% include 'crm_app/admin_maintenances.html' %}




{% endblock content %}
