{% extends 'crm_app/base.html' %}
<br />
{% block content %}
<h1>{{ title }}</h1>
<p>MAIN PAGE CONTEXT</p>
<img src="../../static/crm_app/images/Logotype accent RGB 1.svg" alt="" />

<!-- ===================== -->

<div class="container">
  <form
    class="machine__search-form"
    method="POST"
    action="{% url 'search_machine' %}"
  >
    {% csrf_token %}
    <input
      class="machine__search-input"
      type="search"
      placeholder="Поиск машины ..."
      name="searched"
    />
    <button class="machine__search-btn" type="submit"><i>Поиск</i></button>
  </form>
</div>

<!-- ===================== -->

<h1>Результат поиска</h1>
{% include 'crm_app/search_machine.html' %}

<div class="container">
  <div class="machines">
    <div class="machines__title">
      {% for heading in machine_table_titles %}
      <div class="machines__section table-head">
        <div class="machines__row">
          <div class="machines__section-title">{{ heading }}</div>
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="machines__content">
      <div class="machines__section">
        <div class="machines__row">
          <div class="machines__col table-subhead">Модель техники</div>
          <div class="machines__col table-subhead">Зав. № машины</div>
        </div>
      </div>
      <div class="machines__section">
        <div class="machines__row">
          <div class="machines__col table-subhead">Модель двигателя</div>
          <div class="machines__col table-subhead">Зав. № двигателя</div>
        </div>
      </div>
      <div class="machines__section">
        <div class="machines__row">
          <div class="machines__col table-subhead">Модель трансмиссии</div>
          <div class="machines__col table-subhead">Зав. № трансмиссии</div>
        </div>
      </div>
      <div class="machines__section">
        <div class="machines__row">
          <div class="machines__col table-subhead">Модель ведущего моста</div>
          <div class="machines__col table-subhead">Зав. № ведущего моста</div>
        </div>
      </div>
      <div class="machines__section">
        <div class="machines__row">
          <div class="machines__col table-subhead">
            Модель управляемого моста
          </div>
          <div class="machines__col table-subhead">
            Зав. № управляемого моста
          </div>
        </div>
      </div>
      <div class="machines__section">
        <div class="machines__row">
          <div class="machines__col table-subhead">
            Договор поставки №, дата
          </div>
          <div class="machines__col table-subhead">Дата отгрузки с завода</div>
        </div>
      </div>
      <div class="machines__section">
        <div class="machines__row">
          <div class="machines__col table-subhead">
            Грузополучатель (конечный потребитель)
          </div>
          <div class="machines__col table-subhead">
            Адрес поставки (эксплуатации)
          </div>
        </div>
      </div>
      <div class="machines__section">
        <div class="machines__row">
          <div class="machines__col table-subhead">
            Комплектация (дополнительные опции)
          </div>
          <div class="machines__col table-subhead">Клиент</div>
          <div class="machines__col table-subhead">Сервисная компания</div>
        </div>
      </div>
    </div>

    {% for m in machines %}

    <a class="machines__content data" href="{{ m.get_absolute_url }}">
      <div class="machines__section">
        <div class="machines__row">
          <div class="machines__col">{{m.modelMachine}}</div>
          <div class="machines__col">{{m.serialNumber}}</div>
        </div>
      </div>
      <div class="machines__section">
        <div class="machines__row">
          <div class="machines__col">{{m.modelEngine}}</div>
          <div class="machines__col">{{m.serialNumberEngine}}</div>
        </div>
      </div>
      <div class="machines__section">
        <div class="machines__row">
          <div class="machines__col">{{m.modelTransmission}}</div>
          <div class="machines__col">{{m.serialTransmission}}</div>
        </div>
      </div>
      <div class="machines__section">
        <div class="machines__row">
          <div class="machines__col">{{m.modelDriveAxle}}</div>
          <div class="machines__col">{{m.serialDriveAxle}}</div>
        </div>
      </div>
      <div class="machines__section">
        <div class="machines__row">
          <div class="machines__col">{{m.modelSteeringAxle}}</div>
          <div class="machines__col">{{m.serialSteeringAxle}}</div>
        </div>
      </div>
      <div class="machines__section">
        <div class="machines__row">
          <div class="machines__col">{{m.deliveryContract}}</div>
          <div class="machines__col">{{m.shipmentDate}}</div>
        </div>
      </div>
      <div class="machines__section">
        <div class="machines__row">
          <div class="machines__col">{{m.consignee}}</div>
          <div class="machines__col">{{m.deliveryAddress}}</div>
        </div>
      </div>
      <div class="machines__section">
        <div class="machines__row">
          <div class="machines__col">{{m.additionalOptions}}</div>
          <div class="machines__col">{{m.client}}</div>
          <div class="machines__col">{{m.serviceCompany}}</div>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>

{% endblock content %}
