{% extends 'crm_app/base.html' %}
<br />
{% block content %}
 
<!-- ================================================================ -->

<div class="container">
  <div class="subtitle_in_tabs">
    Вы авторизовались как:
    <span>{{user}}</span>
  </div>
  <div class="page-authorized-title">
    Информация о комплектации, технических характеристиках, <br />
    техническом обслуживании Вашей техники <br />
    и рекламациях на неё.
  </div>
  <br />

  <!------------------- TABS lINKS ------------------->
  <div class="tab">
    <button
      class="tablinks"
      onclick="openTable(event, 'General_Info')"
      id="defaultOpen"
    >
      Общая информация
    </button>
    <button class="tablinks" onclick="openTable(event, 'Maintenance')">
      Техническое Обслуживание
    </button>
    <button class="tablinks" onclick="openTable(event, 'Claims')">
      Рекламации
    </button>
  </div>

  <!-- ================= TABS CONTENT =============== -->
  <!------------------- Tab1 content ------------------->
  <div id="General_Info" class="tabcontent">
    <div class="subtitle_in_tabs">Список Вашей техники</div>

    <form class="filter" method="get">
      <div class="filter__items">{{ filter_machines.form.as_p }}</div>
      <input type="submit" />
    </form>

    <div class="tab1">
      <table class="tab1__table">
        <tr class="tab1__row">
          <th class="tab1__head">Модель техники</th>
          <th class="tab1__head">Зав. № машины</th>
          <th class="tab1__head">Модель двигателя</th>
          <th class="tab1__head">Зав. № двигателя</th>
          <th class="tab1__head">Модель трансмиссии</th>
          <th class="tab1__head">Зав. № ведущего моста</th>
          <th class="tab1__head">Модель ведущего моста</th>
          <th class="tab1__head">Зав. № ведущего моста</th>
          <th class="tab1__head">Модель управляемого моста</th>
          <th class="tab1__head">Зав. № управляемого моста</th>
          <th class="tab1__head">Договор поставки №, дата</th>
          <th class="tab1__head">Дата отгрузки с завода</th>
          <th class="tab1__head">Грузополучатель (конечный потребитель)</th>
          <th class="tab1__head">Комплектация (дополнительные опции)</th>
          <th class="tab1__head">Адрес поставки (эксплуатации)</th>
          <th class="tab1__head">Клиент</th>
          <th class="tab1__head">Сервисная компания</th>
        </tr>
        {% for machine in filter_machines.qs %}
        <tr class="tab1__row">
          <td class="tab1__col">
            <a
              href="{% url 'directory_model_machine' machine.modelMachine_id %}"
              >{{ machine.modelMachine }}</a
            >
          </td>
          <td class="tab1__col">
            <a href="{% url 'machine' machine.pk %}"
              >{{machine.serialNumber}}</a
            >
          </td>
          <td class="tab1__col">
            <a href="{% url 'directory_model_engine' machine.modelEngine_id %}"
              >{{machine.modelEngine}}</a
            >
          </td>
          <td class="tab1__col">{{machine.serialNumberEngine}}</td>
          <td class="tab1__col">
            <a
              href="{% url 'directory_model_transmission' machine.modelTransmission_id %}"
              >{{machine.modelTransmission}}</a
            >
          </td>
          <td class="tab1__col">{{machine.serialTransmission}}</td>
          <td class="tab1__col">
            <a
              href="{% url 'directory_model_drive_axle' machine.modelDriveAxle_id %}"
              >{{machine.modelDriveAxle}}</a
            >
          </td>
          <td class="tab1__col">{{machine.serialDriveAxle}}</td>
          <td class="tab1__col">
            <a
              href="{% url 'directory_model_steering_axle' machine.modelSteeringAxle_id %}"
              >{{machine.modelSteeringAxle}}</a
            >
          </td>
          <td class="tab1__col">{{machine.serialSteeringAxle}}</td>
          <td class="tab1__col">{{machine.deliveryContract}}</td>
          <td class="tab1__col">{{machine.shipmentDate}}</td>
          <td class="tab1__col">{{machine.consignee}}</td>
          <td class="tab1__col">{{machine.deliveryAddress}}</td>
          <td class="tab1__col">{{machine.additionalOptions}}</td>
          <td class="tab1__col">{{machine.client}}</td>
          <td class="tab1__col">
            <a
              href="{% url 'directory_service_company' machine.serviceCompany_id %}"
              >{{machine.serviceCompany}}</a
            >
          </td>
        </tr>
        {% empty %}
        <div class="message">Список пуст</div>
        {% endfor %}
      </table>
    </div>

    <div class="tab__bottom">
      <span></span>
      <a href="{% url 'add_machine' %}" class="crud__btn btn-add">Добавить</a>
    </div>
  </div>

  <!------------------- Tab2 content ------------------->

  <div id="Maintenance" class="tabcontent">
    <div class="subtitle_in_tabs">
      Данные о Техническом Обслуживании Вашей техники
    </div>

    <form class="filter" method="get">
      <div class="filter__items">{{ filter_maintenance.form.as_p }}</div>
      <input type="submit" />
    </form>

    <div class="tab1">
      <table class="tab1__table">
        <tr class="tab1__row">
          <th class="tab1__head">Зав. № машины</th>
          <th class="tab1__head">Вид ТО</th>
          <th class="tab1__head">Дата проведения ТО</th>
          <th class="tab1__head">Наработка, м/час</th>
          <th class="tab1__head">№ заказ-наряда</th>
          <th class="tab1__head">Дата заказ-наряда</th>
          <th class="tab1__head">Орг-ция, проводившая ТО</th>
          <th class="tab1__head">Клиент</th>
          <th class="tab1__head">Сервисная компания</th>
        </tr>
        {% for maintenance in filter_maintenance.qs %}
        <tr class="tab1__row">
          <td class="tab1__col">
            <a href="{% url 'machine' maintenance.machine.pk %}"
              >{{maintenance.machine}}</a
            >
          </td>
          <td class="tab1__col">
            <a href="{% url 'directory_maintenance_type' maintenance.type.pk %}"
              >{{maintenance.type}}</a
            >
          </td>
          <td class="tab1__col">{{maintenance.maintenanceDate}}</td>
          <td class="tab1__col">{{maintenance.operatingTime}}</td>
          <td class="tab1__col">{{maintenance.workOrder}}</td>
          <td class="tab1__col">{{maintenance.workOrderDate}}</td>
          <td class="tab1__col">{{maintenance.executor}}</td>
          <td class="tab1__col">{{maintenance.client}}</td>
          <td class="tab1__col">
            <a
              href="{% url 'directory_service_company' maintenance.serviceCompany_id %}"
              >{{maintenance.serviceCompany}}</a
            >
          </td>
        </tr>
        {% empty %}
        <div class="message">Список пуст</div>
        {% endfor %}
      </table>
    </div>

    <div class="tab__bottom">
      <span></span>
      <a href="{% url 'add_maintenance' %}" class="crud__btn btn-add"
        >Добавить</a
      >
    </div>
  </div>

  <!------------------- Tab3 content ------------------->

  <div id="Claims" class="tabcontent">
    <div class="subtitle_in_tabs">Рекламации на Вашу технику</div>

    <form class="filter" method="get">
      <div class="filter__items">{{ filter_claims.form.as_p }}</div>
      <input type="submit" />
    </form>

    <div class="tab1">
      <table class="tab1__table">
        <tr class="tab1__row">
          <th class="tab1__head">Зав. № машины</th>
          <th class="tab1__head">Дата отказа</th>
          <th class="tab1__head">Наработка, м/час</th>
          <th class="tab1__head">Узел отказа</th>
          <th class="tab1__head">Описание отказа</th>
          <th class="tab1__head">Способ восстановления</th>
          <th class="tab1__head">Используемые запасные части</th>
          <th class="tab1__head">Дата восстановления</th>
          <th class="tab1__head">Время простоя техники</th>
          <th class="tab1__head">Клиент</th>
          <th class="tab1__head">Сервисная компания</th>
        </tr>
        {% for claim in filter_claims.qs %}
        <tr class="tab1__row">
          <td class="tab1__col">
            <a href="{% url 'machine' claim.machine.pk %}">{{claim.machine}}</a>
          </td>
          <td class="tab1__col">{{claim.breakdownDate}}</td>
          <td class="tab1__col">{{claim.operatingTime}}</td>
          <td class="tab1__col">
            <a href="{% url 'directory_breakdown' claim.breakdownNode.pk %}"
              >{{claim.breakdownNode}}</a
            >
          </td>
          <td class="tab1__col">{{claim.breakdownDescription}}</td>
          <td class="tab1__col">
            <a
              href="{% url 'directory_recovery_method' claim.recoveryMethod.pk %}"
              >{{claim.recoveryMethod}}</a
            >
          </td>
          <td class="tab1__col">{{claim.usedSpareParts}}</td>
          <td class="tab1__col">{{claim.recoverDate}}</td>
          <td class="tab1__col">{{claim.downtime}}</td>
          <td class="tab1__col">{{claim.client}}</td>
          <td class="tab1__col">
            <a
              href="{% url 'directory_service_company' claim.serviceCompany_id %}"
              >{{claim.serviceCompany}}</a
            >
          </td>
        </tr>
        {% empty %}
        <div class="message">Список пуст</div>
        {% endfor %}
      </table>
    </div>

    <div class="tab__bottom">
      <span></span>
      <a href="{% url 'add_claim' %}" class="crud__btn btn-add">Добавить</a>
    </div>
  </div>
</div>

<script>
  // Get the element with id="defaultOpen" and click on it
  document.getElementById("defaultOpen").click();

  function openTable(evt, tableName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(tableName).style.display = "block";
    evt.currentTarget.className += " active";
  }
</script>

{% endblock content %}
