{% extends 'crm_app/base.html' %} {% block content %}

<div class="container">
  <br />

  <div class="message">
    {%if messages%} {%for message in messages%} {{message}} {%endfor%} {# #}
    {%endif%}
  </div>

  <div class="service-book-title">
    <div class="page-title">Электронная сервисная книжка</div>
    <div class="text3d-wrap-2">
      <div class="text3d-2">
        <div class="text3d-layer-2"></div>
        <div class="text3d-layer-2"></div>
        <div class="text3d-layer-2"></div>
        <div class="text3d-layer-2"></div>
        <div class="text3d-layer-2"></div>
        <div class="text3d-layer-2"></div>
        <div class="text3d-layer-2"></div>
        <div class="text3d-layer-2"></div>
        <div class="text3d-layer-2"></div>
        <div class="text3d-layer-2"></div>
        <div class="text3d-layer-2"></div>
        <div class="text3d-layer-2"></div>
        <div class="text3d-layer-2"></div>
        <div class="text3d-layer-2"></div>
        <div class="text3d-layer-2"></div>
        <div class="text3d-layer-2"></div>
        <div class="text3d-layer-2"></div>
        <div class="text3d-layer-2"></div>
        <div class="text3d-layer-2"></div>
        <div class="text3d-layer-2"></div>
      </div>
    </div>
  </div>

  <!-- ============================================== -->

  <div class="frontpage__wrapper">
    <div class="frontpage__top">
      <span></span>
    </div>
    <div class="frontpage__center">
      <a class="frontpage__btn" href="{% url 'page_after_authorization' %}"
        >Перейти в мою базу данных</a
      >
    </div>
    <div class="frontpage__bottom">
      <span></span>
    </div>
  </div>

  <!-- ============================================== -->
  <form
    class="machine__search-form"
    method="POST"
    action="{% url 'search_machine' %}"
  >
    {% csrf_token %}
    <input
      class="machine__search-input"
      type="search"
      placeholder="Зав. № машины ..."
      name="searched"
    />
    <button class="machine__search-btn" type="submit"><i>Поиск</i></button>
  </form>
</div>

<!-- ========== Search Result inbuilt ========== -->
<div class="search-wrapper">
  <div class="container">
    <div class="search-inner">
      {% if user.is_authenticated %}
      <div class="search-title">Результат поиска:</div>
      {% else %}
      <div class="search-title">Результат поиска*:</div>
      {% endif %} {% include 'crm_app/search_machine.html' %}
      <br />
      {% if not user.is_authenticated %}
      <div class="search__offer_to_login">
        <a href="{% url 'login' %}">
          * Если Вы хотите получить полную информацию о машине, <br />
          Вам необходимо войти в систему под своим логином
        </a>
      </div>
      {% endif %}
    </div>
  </div>
</div>
<!-- =========================================== -->

<section class="bottom">
  <div class="container">
    <div class="bottom__contact">
      <div class="bottom__content">Get in touch with our experts</div>
      <div class="bottom__map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d61178.11837320009!2d47.27152798335624!3d56.1081939229559!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x415a36efdd5791bb%3A0x9871b9a03e0335ee!2z0KfQtdCx0L7QutGB0LDRgNGB0LrQuNC5INC30LDQstC-0LQg0YHQuNC70L7QstGL0YUg0LDQs9GA0LXQs9Cw0YLQvtCy!5e0!3m2!1sru!2sru!4v1686826525218!5m2!1sru!2sru"
          width="600"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>
  </div>
  <div class="bottom__image">
    <img
      src="../../static/crm_app/images/repair_workshop.png"
      alt="photo of repair workshop"
    />
  </div>
</section>

{% endblock content %}
