{% extends 'crm_app/base.html' %} {% block content %}

<div class="container">
  <div class="container-inner">
    <!------------------- Tab links ------------------->
    <div class="tab">
      <button
        class="tablinks"
        onclick="openTable(event, 'General_Info')"
        id="defaultOpen"
      >
        Общая информация
      </button>
      <button class="tablinks" onclick="openTable(event, 'Maintenance')">
        Техническое Обслуживание
      </button>
      <button class="tablinks" onclick="openTable(event, 'Claims')">
        Рекламации
      </button>
    </div>

    <!-- ================= TABS CONTENT =============== -->
    <!------------------- Tab1 content ------------------->

    <div id="General_Info" class="tabcontent">
      <div class="subtitle_in_tabs">
        Выбрана машина с Зав. №
        <span>{{ machine.serialNumber }}</span>
      </div>

      <div class="container">
        <div class="crud">
          <div class="crud__inner">
            <div class="crud__header header-machine">{{title}}</div>
            <div class="crud__content">
              <div class="crud__set">
                <div class="crud__set-title">МАШИНА</div>
                <div class="crud__grid">
                  <div class="crud__col column-left">Модель техники</div>
                  <div class="crud__col column-right">
                    {{ machine.modelMachine }}
                  </div>
                </div>
                <div class="crud__grid">
                  <div class="crud__col column-left">Зав. № машины</div>
                  <div class="crud__col column-right">
                    {{ machine.serialNumber }}
                  </div>
                </div>
              </div>
              <div class="crud__set">
                <div class="crud__set-title">ДВИГАТЕЛЬ</div>
                <div class="crud__grid">
                  <div class="crud__col column-left">Модель двигателя</div>
                  <div class="crud__col column-right">
                    {{ machine.modelEngine }}
                  </div>
                </div>
                <div class="crud__grid">
                  <div class="crud__col column-left">Зав. № двигателя</div>
                  <div class="crud__col column-right">
                    {{ machine.serialNumberEngine }}
                  </div>
                </div>
              </div>
              <div class="crud__set">
                <div class="crud__set-title">ТРАНСМИССИЯ</div>
                <div class="crud__grid">
                  <div class="crud__col column-left">Модель трансмиссии</div>
                  <div class="crud__col column-right">
                    {{ machine.modelTransmission }}
                  </div>
                </div>
                <div class="crud__grid">
                  <div class="crud__col column-left">Зав. № ведущего моста</div>
                  <div class="crud__col column-right">
                    {{ machine.serialTransmission }}
                  </div>
                </div>
              </div>
              <div class="crud__set">
                <div class="crud__set-title">ВУДУЩИЙ МОСТ</div>
                <div class="crud__grid">
                  <div class="crud__col column-left">Модель ведущего моста</div>
                  <div class="crud__col column-right">
                    {{ machine.modelDriveAxle }}
                  </div>
                </div>
                <div class="crud__grid">
                  <div class="crud__col column-left">Зав. № ведущего моста</div>
                  <div class="crud__col column-right">
                    {{ machine.serialDriveAxle }}
                  </div>
                </div>
              </div>
              <div class="crud__set">
                <div class="crud__set-title">УПРАВЛЯЕМЫЙ МОСТ</div>
                <div class="crud__grid">
                  <div class="crud__col column-left">
                    Модель управляемого моста
                  </div>
                  <div class="crud__col column-right">
                    {{ machine.modelSteeringAxle }}
                  </div>
                </div>
                <div class="crud__grid">
                  <div class="crud__col column-left">
                    Зав. № управляемого моста
                  </div>
                  <div class="crud__col column-right">
                    {{ machine.serialSteeringAxle }}
                  </div>
                </div>
              </div>
              <div class="crud__set">
                <div class="crud__set-title">ДОГОВОР И ОТГРУЗКА</div>
                <div class="crud__grid">
                  <div class="crud__col column-left">
                    Договор поставки №, дата
                  </div>
                  <div class="crud__col column-right">
                    {{ machine.deliveryContract }}
                  </div>
                </div>
                <div class="crud__grid">
                  <div class="crud__col column-left">
                    Дата отгрузки с завода
                  </div>
                  <div class="crud__col column-right">
                    {{ machine.shipmentDate }}
                  </div>
                </div>
              </div>
              <div class="crud__set">
                <div class="crud__set-title">ГРУЗОПОЛУЧАТЕЛЬ</div>
                <div class="crud__grid">
                  <div class="crud__col column-left">
                    Грузополучатель (конечный потребитель)
                  </div>
                  <div class="crud__col column-right">
                    {{ machine.consignee }}
                  </div>
                </div>
                <div class="crud__grid">
                  <div class="crud__col column-left">
                    Адрес поставки (эксплуатации)
                  </div>
                  <div class="crud__col column-right">
                    {{ machine.deliveryAddress }}
                  </div>
                </div>
              </div>
              <div class="crud__set">
                <div class="crud__set-title">ДОПОЛНИТЕЛЬНО</div>
                <div class="crud__grid">
                  <div class="crud__col column-left">
                    Комплектация (дополнительные опции)
                  </div>
                  <div class="crud__col column-right">
                    {{ machine.additionalOptions }}
                  </div>
                </div>
                <div class="crud__grid">
                  <div class="crud__col column-left">Клиент</div>
                  <div class="crud__col column-right">{{ machine.client }}</div>
                </div>
                <div class="crud__grid">
                  <div class="crud__col column-left">Сервисная компания</div>
                  <div class="crud__col column-right">
                    {{ machine.serviceCompany }}
                  </div>
                </div>
              </div>
            </div>
            <div class="crud__underneath">
              <div class="crud__underneath-up">
                <span></span>
                <a
                  class="crud__btn btn-update prior-navigate"
                  href="{% url 'update_machine' machine.pk %}"
                >
                  Обновить эту запись о машине
                </a>
              </div>
              <div class="empty-blue"></div>
              <div class="empty-red"></div>
              <div class="crud__underneath-down">
                <span></span>
                <a
                  class="crud__delete-read btn-delete prior-navigate"
                  href="{% url 'delete_machine' machine.pk %}"
                >
                  Удалить эту запись о машине из базы данных
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!------------------- Tab2 content ------------------->

    <div id="Maintenance" class="tabcontent">
      <div class="subtitle_in_tabs">
        Данные о Техническом Обслуживании <br />
        машины с Зав. №
        <span>{{ machine.serialNumber}}</span>
      </div>

      <div class="tab2__grid-head">
        <div class="tab2__col-head"># ID</div>
        <div class="tab2__col-head">Зав. № машины</div>
        <div class="tab2__col-head">Вид ТО</div>
        <div class="tab2__col-head">Дата проведения ТО</div>
        <div class="tab2__col-head">Нара-<br />ботка,<br />м/час</div>
        <div class="tab2__col-head">№ заказ-наряда</div>
        <div class="tab2__col-head">Дата заказ-наряда</div>
        <div class="tab2__col-head">Орг-ция, проводившая ТО</div>
        <div class="tab2__col-head">Сервисная компания</div>
      </div>
      {% for m in maintenance %}
      <div class="tab2__grid">
        <div class="tab2__col">
          <a class="link_to_object tooltip" href="{% url 'maintenance' m.pk %}">
            {{m.id}}
          </a>
          <div class="tooltiptext">Открыть ТО</div>
          <!-- <a class="link_to_object tooltip" href="{% url 'maintenance' m.pk %}">
            {{m.id}}
            <span class="tooltiptext">Открыть</span>
          </a> -->
        </div>
        <div class="tab2__col">
          <a href="{% url 'machine' m.machine.pk %}">{{m.machine}}</a>
        </div>
        <div class="tab2__col">
          <a href="{% url 'directory_maintenance_type' m.type.pk %}"
            >{{m.type}}</a
          >
        </div>
        <div class="tab2__col">{{m.maintenanceDate}}</div>
        <div class="tab2__col">{{m.operatingTime}}</div>
        <div class="tab2__col">{{m.workOrder}}</div>
        <div class="tab2__col">{{m.workOrderDate}}</div>
        <div class="tab2__col">{{m.executor}}</div>
        <div class="tab2__col">
          <a href="{% url 'directory_service_company' m.serviceCompany.pk %}"
            >{{m.serviceCompany}}</a
          >
        </div>
      </div>
      {% empty %}
      <div class="message">Список пуст</div>
      {% endfor %}
    </div>

    <!------------------- Tab3 content ------------------->

    <div id="Claims" class="tabcontent">
      <div class="subtitle_in_tabs">
        Рекламации о машине с Зав. №
        <span>{{ machine.serialNumber}}</span>
      </div>
      <div class="tab3__grid-head">
        <div class="tab3__col-head"># ID</div>
        <div class="tab3__col-head">Зав. № машины</div>
        <div class="tab3__col-head">Дата отказа</div>
        <div class="tab3__col-head">Нара-<br />ботка,<br />м/час</div>
        <div class="tab3__col-head">Узел отказа</div>
        <div class="tab3__col-head">Описание отказа</div>
        <div class="tab3__col-head">Способ восстановления</div>
        <div class="tab3__col-head">Используемые запасные части</div>
        <div class="tab3__col-head">Дата восстановления</div>
        <div class="tab3__col-head">Время простоя техники</div>
        <div class="tab3__col-head">Сервисная компания</div>
      </div>
      {% for c in claims %}
      <div class="tab3__grid">
        <div class="tab3__col">
          <a class="link_to_object tooltip" href="{% url 'claim' c.pk %}">
            {{c.id}}
            <span class="tooltiptext">Открыть</span>
          </a>
        </div>
        <div class="tab3__col">
          <a href="{% url 'machine' c.machine.pk %}">{{c.machine}}</a>
        </div>
        <div class="tab3__col">{{c.breakdownDate}}</div>
        <div class="tab3__col">{{c.operatingTime}}</div>
        <div class="tab3__col">
          <a href="{% url 'directory_breakdown' c.breakdownNode.pk %}"
            >{{c.breakdownNode}}</a
          >
        </div>
        <div class="tab3__col">{{c.breakdownDescription}}</div>
        <div class="tab3__col">
          <a href="{% url 'directory_recovery_method' c.recoveryMethod.pk %}"
            >{{c.recoveryMethod}}</a
          >
        </div>
        <div class="tab3__col">{{c.usedSpareParts}}</div>
        <div class="tab3__col">{{c.recoverDate}}</div>
        <div class="tab3__col">{{c.downtime}}</div>
        <div class="tab3__col">
          <a href="{% url 'directory_service_company' c.serviceCompany.pk %}"
            >{{c.serviceCompany}}</a
          >
        </div>
      </div>
      {% empty %}
      <div class="message">Список пуст</div>
      {% endfor %}
    </div>
  </div>
</div>

<script>
  // Get the element with id="defaultOpen" and click on it
  document.getElementById("defaultOpen").click();

  function openTable(evt, tableName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(tableName).style.display = "block";
    evt.currentTarget.className += " active";
  }
</script>

{% endblock content %}
