{% extends 'crm_app/base.html' %}
<br />
{% block content %}
<h1>{{ title }}</h1>

<br />

<div class="container">
  <div class="machines">
    <div class="machines__title">
      {% for heading in machine_table_titles %}
      <div class="machines__section table-head">
        <div class="machines__row">
          <div class="machines__section-title">{{ heading }}</div>
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="machines__content">
      <div class="machines__section">
        <div class="machines__row">
          <div class="machines__col table-subhead">Модель техники</div>
          <div class="machines__col table-subhead">Зав. № машины</div>
        </div>
      </div>
      <div class="machines__section">
        <div class="machines__row">
          <div class="machines__col table-subhead">Модель двигателя</div>
          <div class="machines__col table-subhead">Зав. № двигателя</div>
        </div>
      </div>
      <div class="machines__section">
        <div class="machines__row">
          <div class="machines__col table-subhead">Модель трансмиссии</div>
          <div class="machines__col table-subhead">Зав. № трансмиссии</div>
        </div>
      </div>
      <div class="machines__section">
        <div class="machines__row">
          <div class="machines__col table-subhead">Модель ведущего моста</div>
          <div class="machines__col table-subhead">Зав. № ведущего моста</div>
        </div>
      </div>
      <div class="machines__section">
        <div class="machines__row">
          <div class="machines__col table-subhead">
            Модель управляемого моста
          </div>
          <div class="machines__col table-subhead">
            Зав. № управляемого моста
          </div>
        </div>
      </div>
      <div class="machines__section">
        <div class="machines__row">
          <div class="machines__col table-subhead">
            Договор поставки №, дата
          </div>
          <div class="machines__col table-subhead">Дата отгрузки с завода</div>
        </div>
      </div>
      <div class="machines__section">
        <div class="machines__row">
          <div class="machines__col table-subhead">
            Грузополучатель (конечный потребитель)
          </div>
          <div class="machines__col table-subhead">
            Адрес поставки (эксплуатации)
          </div>
        </div>
      </div>
      <div class="machines__section">
        <div class="machines__row">
          <div class="machines__col table-subhead">
            Комплектация (дополнительные опции)
          </div>
          <div class="machines__col table-subhead">Клиент</div>
          <div class="machines__col table-subhead">Сервисная компания</div>
        </div>
      </div>
    </div>

    <div class="machines__content data">
      <div class="machines__section">
        <div class="machines__row">
          <div class="machines__col">{{machine.modelMachine}}</div>
          <div class="machines__col">{{machine.serialNumber}}</div>
        </div>
      </div>
      <div class="machines__section">
        <div class="machines__row">
          <div class="machines__col">{{machine.modelEngine}}</div>
          <div class="machines__col">{{machine.serialNumberEngine}}</div>
        </div>
      </div>
      <div class="machines__section">
        <div class="machines__row">
          <div class="machines__col">{{machine.modelTransmission}}</div>
          <div class="machines__col">{{machine.serialTransmission}}</div>
        </div>
      </div>
      <div class="machines__section">
        <div class="machines__row">
          <div class="machines__col">{{machine.modelDriveAxle}}</div>
          <div class="machines__col">{{machine.serialDriveAxle}}</div>
        </div>
      </div>
      <div class="machines__section">
        <div class="machines__row">
          <div class="machines__col">{{machine.modelSteeringAxle}}</div>
          <div class="machines__col">{{machine.serialSteeringAxle}}</div>
        </div>
      </div>
      <div class="machines__section">
        <div class="machines__row">
          <div class="machines__col">{{machine.deliveryContract}}</div>
          <div class="machines__col">{{machine.shipmentDate}}</div>
        </div>
      </div>
      <div class="machines__section">
        <div class="machines__row">
          <div class="machines__col">{{machine.consignee}}</div>
          <div class="machines__col">{{machine.deliveryAddress}}</div>
        </div>
      </div>
      <div class="machines__section">
        <div class="machines__row">
          <div class="machines__col">{{machine.additionalOptions}}</div>
          <div class="machines__col">{{machine.client}}</div>
          <div class="machines__col">{{machine.serviceCompany}}</div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
