{% extends 'crm_app/base.html' %}{% block content %}

<div class="container">
  <div class="handbook">
    <div class="handbook__inner">
      <div class="handbook__header sign-delete header-drive_axle">
        {{title}}
      </div>
      <div class="handbook__content-delete">
        <form action="" method="post">
          {% csrf_token %}

          <div class="subtitle_in_tabs">
            Удаляем запись <br />
            о модели ведущего моста <br />
            <span>{{ object.name }}</span> ?
          </div>
          <div class="handbook__bottom-delete">
            <br />
            <div class="handbook__delete btn-delete form-navigate">
              <input type="submit" value="Удалить навсегда" />
            </div>
            <br />
            <br />
          </div>
        </form>
      </div>
      <div class="handbook__bottom-line"></div>
    </div>
  </div>
</div>

{% endblock content %}
