{% extends 'crm_app/base.html' %} {% block content %}

<div class="directory-head">
  <div class="directory-head__title">СПРАВОЧНИК <br />{{ title }}</div>
</div>

<div class="container">
  <div class="directory">
    <div class="directory__inner">
      <div class="directory__content">
        <div class="directory__set">
          <div class="directory__image">
            <img
              src="../../static/crm_app/images/directories/service_company.png"
              alt="icon of service company"
            />
          </div>
          <div class="directory__name">
            <div class="directory__name-title">Сервисная компания:</div>
            <div class="directory__name-db">{{model.name}}</div>
          </div>
        </div>
        <div class="directory__description">
          <div class="directory__description-title">Описание:</div>
          {% autoescape off %}
          <div class="directory__description-db">
            {{model.description|linebreaks}}
          </div>
          {% endautoescape %}
        </div>
      </div>
      <div class="directory__buttons">
        <a
          href="{% url 'page_after_authorization' %}"
          class="directory__button btn btn_back"
          >Вернуться в <br />
          мой список</a
        >
        <a
          href="{% url 'directory_service_companies' %}"
          class="directory__button btn btn_forward"
        >
          Больше моделей <br />в Справочнике
        </a>
      </div>
      <div class="directory__change">
        {% if perms.crm_app.change_servicecompany %}
        <div class="directory__update">
          <a
            href="{% url 'update_service_company' object.pk %}"
            class="directory__admin-update"
            >Обновить запись</a
          >
        </div>
        {% endif %}{% if perms.crm_app.delete_servicecompany %}
        <div class="directory__delete">
          <a
            href="{% url 'delete_service_company' object.pk %}"
            class="directory__admin-delete"
            >Удалить запись</a
          >
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}
