{% extends 'crm_app/base.html' %}
<br />
{% block content %}

<div class="container">
  <div class="handbook">
    <div class="handbook__inner">
      <div class="handbook__header sign-update header-service_company">
        {{title}}
      </div>
      <div class="handbook__content">
        <form
          class="handbook__form"
          action="{% url 'update_service_company' object.pk %}"
          method="post"
        >
          {% csrf_token %}
          <div class="handbook__data">
            <div class="handbook__form-error">{{ form.non_field_errors }}</div>
            {% for item in form %}
            <div class="handbook__form-row">
              <label class="handbook__form-label" for="{{ item.id_for_label }}"
                >{{ item.label }}:</label
              >
              <div class="handbook__form-input">{{ item }}</div>
            </div>
            <div class="handbook__form-error">{{ item.errors }}</div>
            {% endfor %}
          </div>
          <div class="handbook__button-area">
            <span></span>
            <button type="submit" class="handbook__btn btn-update in-form">
              Обновить
            </button>
          </div>
        </form>
      </div>
      <div class="handbook__bottom"></div>
    </div>
  </div>
</div>

{% endblock content %}
