.btn {
  font-size: 1.4rem;
  width: 300px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #163e6c;
  color: #ebe6d6;
  margin: 50px;
  box-shadow: 5px 5px 10px #020d18, inset -5px -5px 8px -4px #020d18,
    -5px -5px 10px #3185d5, inset 5px 5px 8px -4px #3185d5;
}

.btn:active {
  font-size: 1.35rem;
  box-shadow: 5px 5px 10px #020d18, inset -5px -5px 8px -4px #020d18,
    inset -6px -6px 8px 0 #3185d5, -5px -5px 10px #3185d5,
    inset 5px 5px 8px -4px #3185d5, inset 6px 6px 8px 0 #020d18;
}

.directory {
  background: url("../images/directories/wave.svg") bottom no-repeat;
  height: 70vh;
  border: 2px solid #163e6c;
}

.directory__inner {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.directory__content {
  height: 70%;
  display: flex;
}
.directory__set {
  padding: 50px;
  width: 40%;
  display: flex;
  flex-direction: column;
}
.directory__image {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.directory__image img {
  height: 80%;
  width: auto;
  /* display: flex;
  justify-content: center; */
}

.directory__name {
  height: auto;
}

.directory__name-db {
  font-size: 1.2rem;
  font-weight: bold;
  color: #ee0202;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  height: 80%;
  border: 1px solid #163e6c;
  border-top: 2px solid #163e6c;
  border-left: 2px solid #163e6c;
  box-shadow: 5px 5px 10px #020d18, inset -5px -5px 8px -4px #020d18;
}
.directory__description {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 50px;
}
.directory__name-title,
.directory__description-title {
  font-size: 1.4rem;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 20px;
  text-align: center;
}
.directory__description-db {
  font-size: 1.2rem;
  padding: 10px 20px;
  height: 80%;
  border: 1px solid #163e6c;
  border-top: 2px solid #163e6c;
  border-left: 2px solid #163e6c;
  box-shadow: 5px 5px 10px #020d18, inset -5px -5px 8px -4px #020d18;
}
.directory__buttons {
  display: flex;
}
.directory__button {
}
.btn {
}
