@import "./reset.css";
@import "./fonts.css";

/*! ============================== GLOBAL ============================== */

html,
body {
  font-family: Astra, sans-serif;
  font-size: 1rem;
  color: #163e6c;
  background: #ebe6d6;
  line-height: 160%;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1260px;
  padding: 0px 15px;
  margin: 0px auto;
  height: 100%;
}

/*! ============================================================ */

h1 {
  color: #ebe6d6;
  background: #163e6c;
}

h2 {
  color: rgb(101, 15, 221);
  background: #d20a11;
}

h3 {
  color: rgb(101, 15, 221);
  background: #ebe6d6;
}

svg {
  fill: #dde546;
}
