@import "./reset.css";
@import "./fonts.css";
@import "./text3d.css";

/*! ============================== GLOBAL ============================== */

html,
body {
  font-family: Astra, sans-serif;
  font-size: 1rem;
  color: #163e6c;
  background: #ebe6d6;
  line-height: 160%;
}

main {
  min-height: 86vh;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.container {
  max-width: 1960px;
  margin: 0px auto;
  padding: 0px 20px;
  height: auto;
}

.page-title {
  font-size: 4rem;
  padding: 0px 10px;
  color: #ebe6d6;
  line-height: 160%;
  text-align: center;
  text-shadow: 0px 4px 3px rgba(9, 164, 211, 0.623),
    0px 8px 13px rgba(6, 151, 199, 0.59),
    0px 18px 23px rgba(10, 187, 211, 0.671);
}

.service-book-title {
  border-radius: 20px;
  background-color: #163e6c;
}

.message {
  font-style: italic;
  color: #ee0202;
  text-align: center;
  font-size: 1.8rem;
  opacity: 0.8;
  padding: 10px;
  line-height: 160%;
  text-shadow: 0px 4px 3px #d8161692, 0px 8px 13px #d1060695,
    0px 18px 23px #d8161646;
}

/*! ============================================================ */

h1 {
  color: #ebe6d6;
  background: #163e6c;
}

/* hr {
  background-color: #ee0202;
  height: 2px;
  width: 300px;
} */

/*! ======================= HEADER ===================================== */

.header {
  background: #163e6c;
  color: #ebe6d6;
}

.header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo:hover {
  transform: scale(1.2);
  transition: all 0.5s;
}

.header__logo path {
  transition: all 0.5s;
}

.header__logo:hover path {
  fill: #ee0202;
}

.header__menu-list {
  display: flex;
  color: #ebe6d6;
  font-size: 1.5rem;
  align-items: center;
}

.header__menu-item {
  margin-right: 20px;
  position: relative;
  margin-left: 40px;
}

.header__menu-item:hover {
  color: #ee0202;
  transform: scale(1.1);
  transition: all 0.5s;
}

.header__menu-item:nth-child(5) {
  margin-right: -30px;
  font-style: italic;
  color: #ebe6d6;
  transform: none;
  transition: none;
}

.header__menu-item:last-child {
  margin-right: 0;
  text-align: center;
  padding: 5px 0;
  width: 120px;
  height: 40px;
  border: 1px solid #ebe6d6;
  border-radius: 5px;
}

.header__menu-item:last-child:hover {
  color: #ebe6d6;
  border: none;
  box-shadow: 5px 5px 10px #020d18, inset -5px -5px 8px -4px #020d18,
    inset -6px -6px 8px 0 #3185d5, -5px -5px 10px #3185d5,
    inset 5px 5px 8px -4px #3185d5, inset 6px 6px 8px 0 #c9c9c9;
}

/*! ======================= FOOTER ===================================== */

.footer {
  background: #163e6c;
  color: #ebe6d6;
}

.footer_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__logo > svg {
  width: 70%;
  height: 70%;
  display: flex;
  align-content: center;
}

.footer__logo:hover {
  transform: scale(1.2);
  transition: all 0.5s;
}

.footer__logo path {
  transition: all 0.5s;
}

.footer__logo:hover path {
  fill: #ee0202;
}

.footer__menu-list {
  display: flex;
  color: #ebe6d6;
  font-size: 1.2rem;
  align-items: center;
}

.footer__menu-item {
  margin-right: 20px;
  position: relative;
  margin-left: 40px;
}

.footer__menu-item:hover {
  color: #ee0202;
  transform: scale(1.1);
  transition: all 0.5s;
}

.footer__menu-item:last-child {
  margin-right: 0;
  text-align: right;
}

.footer__menu-item:last-child:hover {
  color: #ebe6d6;
  transform: scale(1);
  transition: all 0.5s;
}

/*! =============== SECTION BOTTOM on the Main Page ================= */
.bottom {
}

.bottom__contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bottom__content {
  font-size: 2rem;
  color: #ee0202;
  margin-bottom: 50px;
}
.bottom__map {
  margin-bottom: -200px;
  width: 80%;
  height: 25vw;
}
iframe {
  width: 100%;
  height: 100%;
  -webkit-filter: grayscale(75%);
  -moz-filter: grayscale(75%);
  -ms-filter: grayscale(75%);
  -o-filter: grayscale(75%);
  filter: grayscale(75%);
}

.bottom__image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottom__image > img {
  width: 100%;
  height: 100%;
}

/*! =============== SEARCH RESULT on the Main Page ================= */

.search-wrapper {
  margin-bottom: 100px;
}

.search-inner {
  border: 3px solid #163e6c;
  border-radius: 20px;
  padding: 50px;
  box-shadow: 5px 5px 10px #020d18, inset -5px -5px 8px -4px #020d18;
}

.search-title {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  text-shadow: 0px 4px 3px rgba(9, 164, 211, 0.623),
    0px 8px 13px rgba(6, 151, 199, 0.59),
    0px 18px 23px rgba(10, 187, 211, 0.671);
  margin: 30px 0 60px 0;
}

.search__result-positive {
  background-color: #1d7f0b;
  color: #ebe6d6;
  text-align: center;
  font-size: 1.5rem;
  opacity: 0.8;
  padding: 10px;
  box-shadow: 0 0 10px 5px #1d7f0b;
}

.search__result-negative {
  background-color: #ee0202;
  color: #ebe6d6;
  text-align: center;
  font-size: 1.5rem;
  opacity: 0.8;
  padding: 10px;
  box-shadow: 0 0 10px 5px #ee0202;
}

.search__link-to-machine {
  font-size: 2rem;
  margin: 50px 0;
}

.search__button {
  text-align: center;
  padding: 15px;
  width: 80%;
  height: 100px;
  border: 2px solid #163e6c;
  border-radius: 5px;
}

.search__button:hover {
  color: #ebe6d6;
  background: #163e6c;
  border: none;
  box-shadow: 5px 5px 10px #020d18, inset -5px -5px 8px -4px #020d18;
}

.search__set {
  background: #163e6c;
  margin-bottom: 50px;
  padding: 20px;
  border-radius: 10px;
}

.search__set:last-child {
  margin-bottom: 0;
}

.search__grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background: #163e6c;
  gap: 15px;
}

.search__set-title {
  color: #ebe6d6;
  font-size: 2rem;
  margin-bottom: 15px;
}

.search__col {
  background-color: #ebe6d6;
  min-height: 100px;
  font-size: 1.8rem;
  padding: 20px;
  border: 1px solid #163e6c;
  border-radius: 10px;
  margin-bottom: 15px;
}

.col-left {
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: end;
}

.col-right {
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: start;
}

/*! ======================= TABLES ================================== */
/* _______________________ Machines __________________________________ */

.machines__title,
.machines__content {
  display: grid;
  grid-template-columns: repeat(7, 10%) 23%;
  grid-template-rows: auto;
  gap: 1%;
}

.data {
  cursor: pointer;
}

.machines__section {
  display: flex;
  flex-direction: column;
}

.machines__row {
  display: flex;
  justify-content: stretch;
}

.machines__section-title {
  text-align: center;
}

.machines__col {
  width: 49%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 0.7rem;
  margin: 5px 0;
}

.machines__col:first-child {
  margin-right: 10px;
}

.machines__col:nth-child(3) {
  margin-left: 10px;
}

.table-head {
  justify-content: center;
  align-items: center;
  background-color: #163e6c;
  color: #ebe6d6;
  border-radius: 10px;
  padding: 5px 0;
}

.table-subhead {
  text-align: center;
  border: #163e6c 2px solid;
  border-radius: 10px;
}

/* =================== Search Form ======================== */

.machine__search-form {
  margin: 50px auto;
  max-width: 600px;
}
.machine__search-input {
  width: 79%;
  height: 60px;
  padding: 10px;
  color: #d20a11;
  background: #f1f1f1;
  border-radius: 10px;
  font-size: 1.5rem;
  border: 1px solid grey;
}
.machine__search-input:hover,
.machine__search-input:focus {
  border: 1px solid #d20a11;
  box-shadow: 3px 3px 5px #3f0d0d, inset -3px -3px 4px -2px #501111,
    -3px -3px 5px #d53131, inset 3px 3px 4px -2px #d53131;
}

.machine__search-btn {
  width: 20%;
  height: 60px;
  padding: 10px;
  color: #ebe6d6;
  background: #163e6c;
  border-radius: 10px;
  font-size: 1.5rem;
  border: 1px solid grey;
  cursor: pointer;
  transition: 0.5s;
}

.machine__search-btn:hover {
  background: #d20a11;
  color: #ebe6d6;
  transform: scale(1.1);
}

/*! ======================================================= */
/*! ==================== ADAPTATION ======================= */
/*! ======================================================= */

@media (max-width: 1920px) {
  .bottom__map {
    margin-bottom: -150px;
  }
}

@media (max-width: 1300px) {
  .bottom__map {
    margin-bottom: -100px;
  }
}

/* ======================= 1130 ========================== */

@media (max-width: 1130px) {
  .header__menu-list,
  .footer__menu-list {
    font-size: 1.2rem;
  }

  .header__menu-item,
  .footer__menu-item {
    margin-right: 15px;
    margin-left: 30px;
  }

  /* .bottom__map {
    margin-bottom: -200px;
    width: 80%;
    height: 512px;
  } */
}

/* ======================= 980 ========================== */

@media (max-width: 980px) {
  .header__menu-list,
  .footer__menu-list {
    font-size: 1rem;
  }

  .header__menu-item,
  .footer__menu-item {
    margin-right: 10px;
    margin-left: 20px;
  }

  .header__menu-item:last-child {
    width: 90px;
    height: 35px;
  }

  .header__logo > svg {
    width: 80%;
    height: 80%;
    align-content: center;
  }

  .footer__logo > svg {
    width: 60%;
    height: 60%;
  }

  .bottom__map {
    margin-bottom: -80px;
  }

  .page-title {
    font-size: 3rem;
  }
}

/* ======================= 800 ========================== */

@media (max-width: 800px) {
  .header__menu-list,
  .footer__menu-list {
    font-size: 0.8rem;
  }

  .header__menu-item,
  .footer__menu-item {
    margin-right: 5px;
    margin-left: 10px;
  }

  .header__menu-item:last-child {
    width: 70px;
    height: 30px;
    padding: 0;
  }

  .footer__menu-item:last-child {
    font-size: 0.5rem;
  }

  .header__logo > svg {
    width: 70%;
    height: 70%;
  }

  .footer__logo > svg {
    width: 50%;
    height: 50%;
  }

  .page-title {
    font-size: 2.5rem;
  }
}

/* ======================= 700 ========================== */

@media (max-width: 1300px) {
  .bottom__map {
    margin-bottom: -60px;
  }
}
/* ======================= 630 ========================== */

@media (max-width: 1300px) {
  .page-title {
    font-size: 2rem;
  }
}

/* ======================= 590 ========================== */
@media (max-width: 590px) {
  .footer__menu-item {
    font-size: 0.5rem;
  }
  .footer__menu-item:last-child {
    font-size: 0.3rem;
  }
  .footer__logo {
    width: 60px;
  }
  .footer__logo > svg {
    width: 100%;
    height: 100%;
  }
}

/* ======================= 530 ========================== */
@media (max-width: 530px) {
  .machine__search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .machine__search-input {
    margin: 10px 0px 5px 0px;
  }

  .machine__search-btn {
    margin: 5px 0px 10px 0px;
  }

  .bottom__map {
    margin-bottom: -40px;
  }

  .page-title {
    font-size: 1.5rem;
  }
}

/* ======================= 455 ========================== */
@media (max-width: 455px) {
}

/* ======================= 400 ========================== */
@media (max-width: 400px) {
  .page-title {
    font-size: 1.2rem;
  }
  .footer__logo {
    width: 30px;
  }
  .footer__logo > svg {
    width: 100%;
    height: 100%;
  }

  /* ======================= 370 ========================== */
  @media (max-width: 400px) {
    .footer__menu-item {
      font-size: 0.3rem;
    }

    .footer__menu-item:last-child {
      font-size: 0.2rem;
    }

    .footer__logo {
      width: 25px;
    }

    .footer__logo > svg {
      width: 100%;
      height: 100%;
    }
  }
}
