@import "./reset.css";
@import "./fonts.css";

/*! ============================== GLOBAL ============================== */

html,
body {
  font-family: Astra, sans-serif;
  font-size: 1rem;
  color: #163e6c;
  background: #ebe6d6;
  line-height: 160%;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1920px;
  margin: 0px auto;
  height: auto;
}

/*! ============================================================ */

h1 {
  color: #ebe6d6;
  background: #163e6c;
}

h2 {
  color: rgb(101, 15, 221);
  background: #d20a11;
}

h3 {
  color: rgb(101, 15, 221);
  background: #ebe6d6;
}

svg {
  fill: #dde546;
}

hr {
  background-color: #ee0202;
  height: 2px;
  width: 300px;
}

/*! ======================= TABLES ===================================== */
/* _______________________ Machines __________________________________ */

.machines__title,
.machines__content {
  display: grid;
  grid-template-columns: repeat(7, 10%) 23%;
  grid-template-rows: auto;
  gap: 1%;
}

.data {
  cursor: pointer;
}

.machines__section {
  display: flex;
  flex-direction: column;
}

.machines__row {
  display: flex;
  justify-content: stretch;
}

.machines__section-title {
  text-align: center;
}

.machines__col {
  width: 49%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 0.7rem;
  margin: 5px 0;
}

.machines__col:first-child {
  margin-right: 10px;
}

.machines__col:nth-child(3) {
  margin-left: 10px;
}

.table-head {
  justify-content: center;
  align-items: center;
  background-color: #163e6c;
  color: #ebe6d6;
  border-radius: 10px;
  padding: 5px 0;
}

.table-subhead {
  text-align: center;
  border: #163e6c 2px solid;
  border-radius: 10px;
}
