@import "./login3d.css";

.auth__wrapper {
  min-height: 80vh;
  display: flex;
  align-items: center;
  padding: 20px;
}
.auth__card {
  width: 800px;
  background: #163e6c;
  border-radius: 30px;
  margin: 0px auto;
}

.auth__head {
  min-height: 300px;
}

.auth__login-form {
  margin: 50px auto;
  padding: 50px;
  margin-top: 0;
  padding-top: 0;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  border: 1px solid #163e6c;
}
.auth__login-input {
  height: 60px;
  font-size: 1.5rem;
  padding: 10px;
  margin-bottom: 50px;
  color: #d20a11;
  background: #f1f1f1;
  border-radius: 10px;
  border: 1px solid #163e6c;
}
.auth__login-input:hover,
.auth__login-input:focus {
  border: 1px solid #d20a11;
  box-shadow: 3px 3px 5px #3f0d0d, inset -3px -3px 4px -2px #501111,
    -3px -3px 5px #d53131, inset 3px 3px 4px -2px #d53131;
}

.auth__login-btn {
  font-size: 1.5rem;
  height: 60px;
  padding: 10px;
  color: #ebe6d6;
  background: #163e6c;
  border-radius: 10px;
  border: 2px solid #ebe6d6;
  cursor: pointer;
  transition: 0.5s;
}

.auth__login-btn:hover {
  background: #d20a11;
  color: #ebe6d6;
  transform: scale(1.03);
}

/* ======================= 767 ========================== */

@media (max-width: 767px) {
  .auth__login-input {
    height: 50px;
    font-size: 1.3rem;
    margin-bottom: 40px;
  }
  .auth__login-btn {
    font-size: 1.4rem;
    height: 50px;
  }

  .auth__login-form {
    padding: 30px;
    margin: 0 auto 20px auto;
  }

  .auth__head {
    min-height: auto;
  }
}

/* ======================= 450 ========================== */

@media (max-width: 450px) {
  .auth__login-input {
    height: 40px;
    font-size: 1.1rem;
    margin-bottom: 30px;
  }
  .auth__login-btn {
    font-size: 1.2rem;
    height: 40px;
  }
}

/* ======================= 380 ========================== */

@media (max-width: 380px) {
  .auth__login-input {
    height: 40px;
    font-size: 0.8rem;
    margin-bottom: 20px;
  }

  .auth__login-form {
    padding: 15px;
  }
}
